*{
padding:0;
margin:0;
}

body
{
background: url(../img/4.jpg) center fixed; 
font-family:Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}


h2{
color:#fff;
background:#484848;
padding:5px;
margin-top:0px;
}
input{
width:210px;
padding:3px;
border-radius:3px;
}


button{
background:#fff;
color:#484848;
font-size:;
font-weight:bold;
padding:4px;
width:100px;
border-radius:2px;
cursor:pointer;
box-shadow:1px 1px 1px #484848;
}


a{
color:#fff;
text-decoration:none;
}

a:hover{
color:#ccc;
opacity:.8;

}

.btn{
background:#fff;
height:20px;
}

.form_settings
{ margin:auto;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;
  color: #fff;
   text-shadow: 2px 2px #000;
}
  
.form_settings input, .form_settings textarea
{ padding: 4px; 
  width: 399px; 
  border: 1px solid #aaa; 
  background: #FFF; 
  color: #47433F;
 }

.form_settings .submit
{
  width: 111px; 
  margin: 0 0 0 296px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1A6FFD;
  -moz-box-shadow:    inset 0 0 10px #002C6E;
  -webkit-box-shadow: inset 0 0 10px #002C6E;
  box-shadow:         inset 0 0 10px #002C6E;  
  color: #FFF;}


.module{
padding:20px;
height:auto;

}

.boxcap{
background:#484848;
color:#fff;
height:50px;
text-align:center;
font-size:40px;
font-weight:bold;
}

.box {
float:left;
width:348px;
padding:10px;
margin:10px 6px;
background:#dfe0e2;
border:1px solid #aaa;
}
.buttonBox {
background:#484848;
border:0;
font-weight:bold;
color:#FFFFFF;
padding:5px 10px;
cursor:pointer;
}
.box p {
	padding:20px 0;
}
.boxButton {
	float:right;
}
span
{ color: #484848;
  text-shadow: 2px 2px #fff;}
  

.span
{
width: 10%;
height: auto;
float: left;
margin: auto;
}

.span1
{
width: 20%;
height: auto;
float: left;
margin: auto;
}

.span2
{
width: 40%;
height: auto;
float: left;
margin: auto;
margin-left:100px;
padding-top:8px;
padding-bottom:8px;
}

.span3
{
width: 32%;
float: right;
margin: auto;
margin-right:170px;
padding:10px;
}

.span4
{
width: 80%;
float: left;
margin: auto;
}
.span5
{
width: 50%;
float: left;
margin: auto;
}

.clear
{
clear: both;
}


.b_span2
{
margin-top:-30px;
background:#ffffff;
width: 30%;
padding:10px;
margin: auto;
border:1px solid #ccc;
border-radius:10px;
}

#container
{
width: 85%;
height: auto;
margin: auto;

}



.header
{
  padding:10px;
  color:#484848;
  font-size:50px;
  height:150px;
  margin-top: 10px;
  margin-bottom:0px;
}

.header a{
font-size:20px;
}

.header a:hover{
color:#fff;
}

.gal{
height:190px;
width:210px;
float:left;
margin:22px;
border:1px solid #ccc;
box-shadow:5px 5px 5px #ccc;
}

.gal1{
height:300px;
width:250px;
float:left;
margin:8px;
border:3px solid #ccc;
box-shadow:5px 5px 5px #ccc;
}

.icons{
width:20px;
margin:10px;
float:right;
margin-top:30px;
}

.icons img{
margin-top:-130px;
}


.header p{
font-size:20px;
}

.banner{
  height:200px;
  margin-top: 37px;
  margin-bottom: 10px;
  background-color: tranparent;
  border: 1px solid #888;
  border-radius: 3px;
}

#sidebar1{
background:#fff;
color:#fff;
width:26%;
height:auto;
float:right;
border-top:20px solid #484848;
box-shadow:0px 0px 0px 1px #888;
overflow:auto;
border-radius:5px;
margin-bottom:10px;

}


#sidebar{
background:#484848;
width:26%;
height:auto;
float:right;
border:1px solid #888;
overflow:auto;
border-radius:5px;
margin-bottom:10px;
padding-bottom:5px;
}

#sidebar ul{
list-style-type:none;
}

#sidebar li{ 
text-align:center;
}

#sidebar li a{
	margin-left:14px;
	margin-bottom:5px;
	background: #f2f2f2 url(images/right.png) -15px no-repeat;
    display: block;
    width: 239px;
	height:25px;
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
	border:1px solid #000;
}

#sidebar li a:hover{
	background:#fff;
	 color: blue;
	 }

#content{
 background: transparent url(../img/transparent.png) repeat;
 color:white;
width:72%;
height:auto;
float:left;
border:1px solid #888;
overflow:auto;
border-radius:5px;

}

.img {
    margin: 17px;
    border: 5px solid #484848;
    height: 185px;
    width: 158px;
    float: left;
    text-align: center;
	
}

.img a{
color:#000;
text-decoration:none;
}

.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

.img a:hover img {
	opacity:.8;
	background: #fff url(.../img/1.jpg) -10px no-repeat;
    
}

.desc {
    text-align: center;
    width: 148px;
	padding:5px;
	height:40px;
	background:#1773BB;
	color:#fff;
}

#nav {
      overflow: auto;
	  display:inline;
	 font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	  }

	
#nav  li {
	
	display:inline;
	
	
		}
		
#nav  li a{
	color:#777;
    width: 150px;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
    text-transform: uppercase;
	
		}
	
#nav ul
{
	padding:15px 0px 15px 0px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
	background-image: linear-gradient(#fffff, #000000);
	font-size: 16px;
	 border: 1px solid #888;
	 margin-bottom: -39px;

}
	
#nav .active > a { 
		background-color: #ddd;
		color: #777;
		text-decoration: none;
		padding: 15px 40px;
		 box-shadow: inset 0px 5px 8px  #777;
		
}


#nav a:hover { 
color: black;
}


}
.pull-right
{
float: right;
}

.pull-left
{
float: left;
}

.body-background
{
  color:#fff;
  margin-bottom: 20px;
  padding-bottom:20px;
  background-color: #fffff;
  border-top: 1px solid #aaa;
  width: 100%;
  overflow: hidden;
  background: transparent url(../img/transparent.png) repeat;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;} 	

}


body {

  margin-bottom: 80px;
}
footer {
  color:#fff;
  margin-top: 40px;
  position: absolute;
  background: transparent url(../img/transparent.png) repeat;
  width: 84%;
  border: 1px solid #888;
  background-color: #f5f5f5;
  opacity: .7;
  border-radius: 5px;

}

